{{template "header.html" .}}
<div class="terms">
    <h3>Tags</h3>
    <ul>
        {{range .Tags}}
        <li><a href="/tag/{{. | urlEncode}}">{{. | title}}</a></li>
        {{end}}
        <li><a href="/tag/untagged">Untagged terms</a></li>
    </ul>
</div>
<div class="info">
    <h3>Info</h3>
    <ul>
        <li><a href="{{.Conf.Invite}}">Invite the bot</a></li>
        <li><a href="{{.Conf.Git}}">Source code</a></li>
    </ul>
    <h4>Feedback</h4>
    <ul>
        <li><a
                href="https://docs.google.com/forms/d/e/1FAIpQLSdsa4SmmJomil0cx8o7UHyNkR0tUtKTrkh_oCqAJ6nIHcry0Q/viewform?usp=sf_link">Term
                submissions</a></li>
        <li><a
                href="https://docs.google.com/forms/d/e/1FAIpQLScgRC2-fjZAnF3CSb_Mr2rtUPJFnCPXMcCsjxXXTioW_uve_g/viewform?usp=sf_link">Feedback
                and term edit/removal requests</a></li>
    </ul>
</div>
{{template "footer.html" .}}