{{template "header.html" .}}
<div class="terms">
    {{if (eq .Tag "untagged")}}
    <h3>List of untagged terms</h3>
    {{else}}
    <h3>List of terms tagged "{{.Tag | sanitize}}"</h3>
    {{end}}
    <ul>
        {{if .Terms}}
        {{range .Terms}}
        <li><a href="/term/{{.Name | lower | urlEncode}}">{{.Name}}</a> ({{if .Aliases}}{{.Aliases | join ", "}}{{else}}no aliases{{end}})</li>
        {{end}}
        {{else}}
        No terms found.
        {{end}}
    </ul>
</div>
{{template "footer.html"}}
