<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/static/favicon.png" />
    <link rel="stylesheet" href="/static/style.css">
    <title>Search | {{.Conf.SiteName}}</title>
</head>

<body>
    <div class="404">
        <h1><a href="/">{{.Conf.SiteName}}</a></h1>
        <h3>Search</h3>
        <p>Either no results were found, or you did not input a query.</p>
    </div>

    <div class="footer">
        <hr />
        <p style="text-align: right;">
            <small>
                <a href="/contact">Contact</a> &middot;
                <a href="{{.Conf.Git}}">Source</a> &middot;
                <a href="{{.Conf.Invite}}">Invite {{.Conf.SiteName}}</a><br />
                License: <a href="https://www.gnu.org/licenses/agpl-3.0.html">AGPLv3</a>
            </small>
        </p>
    </div>
</body>

</html>